{#<a class="btn btn-success btn-sm" href="{{ path('user_edit', {'id': value }) }}"><i class="fa fa-edit"></i></a>#}
<a class="btn btn-danger btn-sm" href="#" onclick='getItem_id({{ value }})'><i class="fa fa-trash"></i></a>