
    <div class="btn-group btn-group-sm float-end">
        <a class="btn btn-success" href="{{ path('bouquetchanel_edit', {'id': row.id}) }}"><i class="me-2 icon-md fa fa-edit"></i></a>
        <a class="btn btn-danger"><i class="me-2 icon-md fa fa-trash-o"></i></a>
    </div>

